<div class="sidenav">
  <div class="sidenav-wrapper">
    <ul>
      <li>
        <a>
          <div class="icon-wrapper">
            <mat-icon class="mat-icon icon"
                      aria-hidden="false"
                      aria-label="dashboard-icon">home
            </mat-icon>
            <span class="text">Dashboard</span>
          </div>
        </a>
      </li>
      <li>
        <a>
          <div class="icon-wrapper">
            <mat-icon class="mat-icon icon"
                      aria-hidden="false"
                      aria-label="logout-icon">logout
            </mat-icon>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
