<div class="sidebar-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav>
      <p>Side</p>
    </mat-sidenav>

    <mat-sidenav-content>
      <p>Content</p>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
