$black-shadow: rgba(33, 33, 33, 0.8);
$error-msg: rgba(220, 80, 80, 1);
$background: rgba(240, 240, 245, 1);
$sidebar-background: rgba(32, 32, 32, 1);
$sidebar-font: rgba(240, 240, 240, 1);
$sidebar-item-hover: rgba(30, 110, 180, 1);
$sidebar-item-hover-background: rgba(200, 200, 200, 1);
